.fern-green {
	background-color: #67b373;
}

.blue-danube {
	background-color: #5992c7;
}

.slate-grey {
	background-color: #67768a;
}

.casablanca-yellow {
	background-color: #f8b43f;
}

.chesnut-red {
	background-color: #d36050;
}

#secondarycolors {
  li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: #666;
      background-color: #fff;
      font-size: 12px;
      bottom: 0;
      left: 0.9375em;
    }
    .color {
      height: 120px;
      margin-right: 0.9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}